@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    padding: 0px;
    margin:0px;
}
body{
    background-color:rgb(239, 220, 196);
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.main{
    background-color: white;
       
    display: flex;
    border-radius: 10px;
    height: 70vh;
    width:40vw;
}
.box{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 20px;
}
.main img{
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px ;
    width:40vw;
}
.per{
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    align-items: start;
    font-weight: 100;
    padding: 10px;
}
.head{
    display: flex;
    flex-wrap: wrap;
}
.para{
    font-family: "Montserrat", serif;
    font-weight: 300;
    line-height:30px;
}
.cost{
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
    color:hsl(158, 36%, 37%);
}
.cost span{
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}
.cart button{
  background-color: hsl(159, 29%, 31%);
  color: white;
  padding:10px;
  border-radius: 10px;
  height:50px ;
  width:200px;
  font-size:20px;
  gap:5px;
  
}